header {
  background-color: #FFCC99;
  display: flex;
  justify-content: center;

}
#main-title {
  font-weight: 700;
  text-align: center;
  color: red;
  }

main {
  background-color: #E6F2FF;
  display: flex;
}
 aside {
  background-color: #B3D9FF;
  flex: 1;
 }

 .grey-border {
  border: 1px #ccc;
  border-style: solid;
 }

 section {
  margin: 20px;
  flex: 3;
 }

 footer {
  background-color: #99CC99;
 }
 .shadow {
  box-shadow: 2px 5px 10px  rgba(204,204,204,0.5);
 }
